.App {
  text-align: center;
}
.monster-selector {
  float: left;
}
.hp-tracker {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  padding-left: 10px;
  padding-top: 20px;
}
.remove-monster-button {
  padding-left: 10px;
  padding-right: 10px;
}
