.App {
  text-align: center;
}
.monster-selector {
  float: left;
  background-color: #e0ecff;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.hp-tracker {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  padding-left: 10px;
  padding-top: 20px;
}
.remove-monster-button {
  padding-left: 10px;
  padding-right: 10px;
}
